<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/Preprocessing/clean_data_U1400_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
u1400 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/U1400.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [ ]:
u1400[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 617707 entries, 0 to 617706
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    617707 non-null  int64
 1   code       617707 non-null  int64
 2   purchased  617707 non-null  int64
 3   gram       166121 non-null  object
 4   kilogram   465851 non-null  float64
 5   price      562131 non-null  float64
 6   value      617706 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 33.0+ MB

In [ ]:
u1400[3].purchased.value_counts()

purchased
1    609779
7      4552
2      1667
8       707
5       619
6       319
3        54
4        10
Name: count, dtype: int64

In [ ]:
609779/617707

0.9871654360400643

In [ ]:
u1400[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
u1400[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U1400P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [ ]:
u1400[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3207 entries, 0 to 3206
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3207 non-null   int64
 1   code       3207 non-null   int64
 2   purchased  3207 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   2654 non-null   float64
 5   price      2654 non-null   float64
 6   value      3207 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 175.5 KB

In [ ]:
u1400[4].purchased.value_counts()

purchased
1    3188
7      14
5       2
8       2
3       1
Name: count, dtype: int64

In [ ]:
u1400[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
u1400[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U1400P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [ ]:
u1400[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30896 entries, 0 to 30895
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    30896 non-null  int64
 1   code       30896 non-null  int64
 2   purchased  30896 non-null  int64
 3   value      30896 non-null  int64
dtypes: int64(4)
memory usage: 965.6 KB

In [ ]:
u1400[5].describe()

            Address          code     purchased         value
count  3.089600e+04  30896.000000  30896.000000  3.089600e+04
mean   1.147963e+10  31387.200026      1.023951  1.871156e+06
std    8.835393e+08    307.840889      0.354212  2.624923e+06
min    1.000100e+10  31111.000000      1.000000  2.000000e+04
25%    1.071909e+10  31233.000000      1.000000  4.000000e+05
50%    1.150219e+10  31255.000000      1.000000  1.200000e+06
75%    1.221026e+10  31317.000000      1.000000  2.500000e+06
max    1.300638e+10  32221.000000      8.000000  7.000000e+07

In [ ]:
u1400[5].purchased.value_counts()

purchased
1    30725
7       54
5       51
2       25
8       21
3       20
Name: count, dtype: int64

In [ ]:
u1400[5].drop('purchased', axis=1, inplace=True)

In [ ]:
u1400[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U1400P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [ ]:
u1400[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85990 entries, 0 to 85989
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    85990 non-null  int64
 1   code       85990 non-null  int64
 2   mortgage   3265 non-null   float64
 3   purchased  72031 non-null  object
 4   value      85990 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 3.3+ MB

In [ ]:
u1400[6].describe(include='all')

             Address          code      mortgage purchased         value
count   8.599000e+04  85990.000000  3.265000e+03     72031  8.599000e+04
unique           NaN           NaN           NaN         9           NaN
top              NaN           NaN           NaN         1           NaN
freq             NaN           NaN           NaN     70190           NaN
mean    1.155578e+10  44016.323945  3.671736e+08       NaN  4.206408e+06
std     9.065281e+08   1309.214796  4.914435e+08       NaN  1.032680e+07
min     1.000100e+10  41111.000000  1.000000e+05       NaN  2.000000e+03
25%     1.080210e+10  42214.000000  1.000000e+08       NaN  2.400000e+05
50%     1.160119e+10  44311.000000  2.000000e+08       NaN  4.000000e+05
75%     1.230128e+10  45111.000000  5.000000e+08       NaN  3.000000e+06
max     1.300638e+10  45414.000000  8.000000e+09       NaN  3.000000e+08

In [ ]:
u1400[6].purchased.value_counts()

purchased
1    70190
8     1528
3      140
5      111
2       31
        19
7        7
4        3
6        2
Name: count, dtype: int64

In [ ]:
u1400[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [ ]:
u1400[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U1400P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [ ]:
u1400[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96497 entries, 0 to 96496
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    96497 non-null  int64
 1   code       96497 non-null  int64
 2   purchased  96497 non-null  int64
 3   value      96497 non-null  int64
dtypes: int64(4)
memory usage: 2.9 MB

In [ ]:
u1400[7].describe()

            Address          code     purchased         value
count  9.649700e+04  96497.000000  96497.000000  9.649700e+04
mean   1.150860e+10  56004.855519      1.055173  3.300620e+05
std    9.192842e+08    511.382303      0.570006  9.448090e+05
min    1.000100e+10  52111.000000      1.000000  1.000000e+04
25%    1.070709e+10  56114.000000      1.000000  1.350000e+05
50%    1.150319e+10  56116.000000      1.000000  2.000000e+05
75%    1.230128e+10  56127.000000      1.000000  3.500000e+05
max    1.300638e+10  56215.000000      8.000000  8.000000e+07

In [ ]:
u1400[7].purchased.value_counts()

purchased
1    95591
7      850
5       31
3       15
8       10
Name: count, dtype: int64

In [ ]:
95591/96497

0.9906111070810492

In [ ]:
u1400[7].drop('purchased', axis=1, inplace=True)

In [ ]:
u1400[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U1400P3S05.csv', index=False)