<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/Preprocessing/clean_data_R98_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
r98 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/R98.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [ ]:
r98[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516798 entries, 0 to 516797
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    516798 non-null  int64
 1   code       516798 non-null  int64
 2   purchased  516798 non-null  int64
 3   gram       120198 non-null  object
 4   kilogram   395555 non-null  float64
 5   price      468830 non-null  float64
 6   value      516797 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 27.6+ MB

In [ ]:
r98[3].purchased.value_counts()

purchased
1    495568
2     10947
7      4880
6      3167
8      1710
5       480
3        45
4         1
Name: count, dtype: int64

In [ ]:
495568/516798

0.9589201196599058

In [ ]:
r98[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
r98[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R98P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [ ]:
r98[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4175 entries, 0 to 4174
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    4175 non-null   int64
 1   code       4175 non-null   int64
 2   purchased  4175 non-null   int64
 3   gram       1 non-null      object
 4   kilogram   3242 non-null   float64
 5   price      3242 non-null   float64
 6   value      4175 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 228.4+ KB

In [ ]:
r98[4].purchased.value_counts()

purchased
1    4144
7      28
8       2
5       1
Name: count, dtype: int64

In [ ]:
r98[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
r98[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R98P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [ ]:
r98[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22378 entries, 0 to 22377
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    22378 non-null  int64
 1   code       22378 non-null  int64
 2   purchased  22378 non-null  int64
 3   value      22378 non-null  int64
dtypes: int64(4)
memory usage: 699.4 KB

In [ ]:
r98[5].describe()

            Address          code     purchased         value
count  2.237800e+04  22378.000000  22378.000000  2.237800e+04
mean   2.147327e+10  31441.066807      1.020779  8.380099e+05
std    9.358343e+08    368.498460      0.362553  1.029167e+06
min    2.000138e+10  31111.000000      1.000000  1.000000e+04
25%    2.062746e+10  31222.000000      1.000000  2.600000e+05
50%    2.140655e+10  31251.000000      1.000000  5.850000e+05
75%    2.221263e+10  31412.000000      1.000000  1.000000e+06
max    2.300671e+10  32221.000000      8.000000  2.800000e+07

In [ ]:
r98[5].purchased.value_counts()

purchased
1    22287
8       42
2       24
7       23
6        1
5        1
Name: count, dtype: int64

In [ ]:
r98[5].drop('purchased', axis=1, inplace=True)

In [ ]:
r98[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R98P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [ ]:
r98[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68767 entries, 0 to 68766
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    68767 non-null  int64
 1   code       68767 non-null  int64
 2   mortgage   614 non-null    float64
 3   purchased  52784 non-null  object
 4   value      68767 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.6+ MB

In [ ]:
r98[6].describe(include='all')

             Address          code      mortgage purchased         value
count   6.876700e+04  68767.000000  6.140000e+02     52784  6.876700e+04
unique           NaN           NaN           NaN         9           NaN
top              NaN           NaN           NaN         1           NaN
freq             NaN           NaN           NaN     50765           NaN
mean    2.145774e+10  44076.659880  1.007756e+08       NaN  9.694461e+05
std     9.298514e+08   1306.872948  1.194424e+08       NaN  1.722758e+06
min     2.000138e+10  41111.000000  1.200000e+06       NaN  4.000000e+03
25%     2.062446e+10  42212.000000  2.000000e+07       NaN  1.600000e+05
50%     2.140455e+10  44418.000000  5.000000e+07       NaN  3.300000e+05
75%     2.230363e+10  45211.000000  1.500000e+08       NaN  1.000000e+06
max     2.300671e+10  45414.000000  1.000000e+09       NaN  6.500000e+07

In [ ]:
r98[6].purchased.value_counts()

purchased
1    50765
8     1454
2      280
5      153
3       85
        42
6        3
4        1
7        1
Name: count, dtype: int64

In [ ]:
r98[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [ ]:
r98[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R98P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [ ]:
r98[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87170 entries, 0 to 87169
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    87170 non-null  int64
 1   code       87170 non-null  int64
 2   purchased  87170 non-null  int64
 3   value      87170 non-null  int64
dtypes: int64(4)
memory usage: 2.7 MB

In [ ]:
r98[7].describe()

            Address          code     purchased         value
count  8.717000e+04  87170.000000  87170.000000  8.717000e+04
mean   2.148234e+10  56000.373890      1.087381  1.471387e+05
std    9.307518e+08    512.230618      0.722362  5.711606e+05
min    2.000138e+10  52111.000000      1.000000  2.000000e+03
25%    2.070147e+10  56114.000000      1.000000  5.000000e+04
50%    2.140855e+10  56116.000000      1.000000  9.500000e+04
75%    2.231364e+10  56119.000000      1.000000  1.500000e+05
max    2.300671e+10  56215.000000      8.000000  6.000000e+07

In [ ]:
r98[7].purchased.value_counts()

purchased
1    85903
7     1142
8       96
5       19
3        7
2        3
Name: count, dtype: int64

In [ ]:
85903/87170

0.9854651829757944

In [ ]:
r98[7].drop('purchased', axis=1, inplace=True)

In [ ]:
r98[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R98P3S05.csv', index=False)