<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/Preprocessing/clean_data_R99_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
r99 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/R99.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [ ]:
r99[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498284 entries, 0 to 498283
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    498284 non-null  int64
 1   code       498284 non-null  int64
 2   purchased  498284 non-null  int64
 3   gram       118644 non-null  object
 4   kilogram   378472 non-null  float64
 5   price      451223 non-null  float64
 6   value      498283 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 26.6+ MB

In [ ]:
r99[3].purchased.value_counts()

purchased
1    479236
2      9775
7      3542
8      2653
6      2502
5       562
4         7
3         7
Name: count, dtype: int64

In [ ]:
479236/498284

0.9617728042642348

In [ ]:
r99[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
r99[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R99P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [ ]:
r99[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3652 non-null   int64
 1   code       3652 non-null   int64
 2   purchased  3652 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   2895 non-null   float64
 5   price      2895 non-null   float64
 6   value      3652 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 199.8 KB

In [ ]:
r99[4].purchased.value_counts()

purchased
1    3624
7      23
5       2
8       2
2       1
Name: count, dtype: int64

In [ ]:
r99[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
r99[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R99P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [ ]:
r99[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24157 entries, 0 to 24156
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    24157 non-null  int64
 1   code       24157 non-null  int64
 2   purchased  24157 non-null  int64
 3   value      24157 non-null  int64
dtypes: int64(4)
memory usage: 755.0 KB

In [ ]:
r99[5].describe()

            Address          code     purchased         value
count  2.415700e+04  24157.000000  24157.000000  2.415700e+04
mean   2.144288e+10  31405.259304      1.037587  1.015687e+06
std    8.940937e+08    324.913714      0.489155  1.312744e+06
min    2.000138e+10  31111.000000      1.000000  1.000000e+04
25%    2.071247e+10  31234.000000      1.000000  2.500000e+05
50%    2.140455e+10  31261.000000      1.000000  6.000000e+05
75%    2.210962e+10  31317.000000      1.000000  1.400000e+06
max    2.300671e+10  32221.000000      8.000000  2.550000e+07

In [ ]:
r99[5].purchased.value_counts()

purchased
1    23997
8      100
5       25
2       14
7       13
3        8
Name: count, dtype: int64

In [ ]:
r99[5].drop('purchased', axis=1, inplace=True)

In [ ]:
r99[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R99P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [ ]:
r99[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67908 entries, 0 to 67907
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    67908 non-null  int64
 1   code       67908 non-null  int64
 2   mortgage   620 non-null    float64
 3   purchased  52083 non-null  object
 4   value      67908 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.6+ MB

In [ ]:
r99[6].describe(include='all')

             Address          code      mortgage purchased         value
count   6.790800e+04  67908.000000  6.200000e+02     52083  6.790800e+04
unique           NaN           NaN           NaN         9           NaN
top              NaN           NaN           NaN         1           NaN
freq             NaN           NaN           NaN     50113           NaN
mean    2.146160e+10  44068.117011  1.523411e+08       NaN  1.337254e+06
std     9.309105e+08   1307.575935  1.660805e+08       NaN  2.453432e+06
min     2.000138e+10  41111.000000  3.000000e+05       NaN  1.000000e+04
25%     2.070246e+10  42212.000000  4.000000e+07       NaN  2.000000e+05
50%     2.140555e+10  44413.000000  1.000000e+08       NaN  4.000000e+05
75%     2.230363e+10  45211.000000  2.000000e+08       NaN  1.500000e+06
max     2.300671e+10  45414.000000  1.000000e+09       NaN  1.500000e+08

In [ ]:
r99[6].purchased.value_counts()

purchased
1    50113
8     1432
2      296
5      134
3       75
        24
7        5
6        3
4        1
Name: count, dtype: int64

In [ ]:
r99[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [ ]:
r99[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R99P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [ ]:
r99[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89096 entries, 0 to 89095
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    89096 non-null  int64
 1   code       89096 non-null  int64
 2   purchased  89096 non-null  int64
 3   value      89096 non-null  int64
dtypes: int64(4)
memory usage: 2.7 MB

In [ ]:
r99[7].describe()

            Address          code     purchased         value
count  8.909600e+04  89096.000000  89096.000000  8.909600e+04
mean   2.146574e+10  56008.852025      1.069094  2.125190e+05
std    9.265261e+08    492.050699      0.643527  9.117261e+05
min    2.000138e+10  52111.000000      1.000000  3.500000e+03
25%    2.070246e+10  56114.000000      1.000000  8.000000e+04
50%    2.140655e+10  56116.000000      1.000000  1.400000e+05
75%    2.230464e+10  56119.000000      1.000000  2.000000e+05
max    2.300671e+10  56215.000000      8.000000  6.000000e+07

In [ ]:
r99[7].purchased.value_counts()

purchased
1    88067
7      871
8      108
5       40
2        9
6        1
Name: count, dtype: int64

In [ ]:
88067/89096

0.9884506599622879

In [ ]:
r99[7].drop('purchased', axis=1, inplace=True)

In [ ]:
r99[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R99P3S05.csv', index=False)