<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/Preprocessing/clean_data_U99_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
u99 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/U99.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [ ]:
u99[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603766 entries, 0 to 603765
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    603766 non-null  int64
 1   code       603766 non-null  int64
 2   purchased  603766 non-null  int64
 3   gram       154303 non-null  object
 4   kilogram   454223 non-null  float64
 5   price      549200 non-null  float64
 6   value      603766 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 32.2+ MB

In [ ]:
u99[3].purchased.value_counts()

purchased
1    595450
7      4639
2      1718
8       972
5       634
6       309
3        34
4        10
Name: count, dtype: int64

In [ ]:
595450/603766

0.9862264519698029

In [ ]:
u99[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
u99[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U99P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [ ]:
u99[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3162 non-null   int64
 1   code       3162 non-null   int64
 2   purchased  3162 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   2669 non-null   object
 5   price      2667 non-null   float64
 6   value      3162 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 173.0+ KB

In [ ]:
u99[4].purchased.value_counts()

purchased
1    3139
7      21
5       1
8       1
Name: count, dtype: int64

In [ ]:
u99[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [ ]:
u99[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U99P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [ ]:
u99[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29638 entries, 0 to 29637
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    29638 non-null  int64
 1   code       29638 non-null  int64
 2   purchased  29638 non-null  int64
 3   value      29638 non-null  int64
dtypes: int64(4)
memory usage: 926.3 KB

In [ ]:
u99[5].describe()

            Address          code     purchased         value
count  2.963800e+04  29638.000000  29638.000000  2.963800e+04
mean   1.149277e+10  31386.846211      1.033606  1.156630e+06
std    9.117239e+08    304.073273      0.444000  1.653399e+06
min    1.000100e+10  31111.000000      1.000000  1.000000e+04
25%    1.072910e+10  31234.000000      1.000000  3.000000e+05
50%    1.150319e+10  31261.000000      1.000000  7.000000e+05
75%    1.230127e+10  31317.000000      1.000000  1.500000e+06
max    1.300638e+10  32221.000000      8.000000  8.500000e+07

In [ ]:
u99[5].purchased.value_counts()

purchased
1    29449
7       82
8       48
5       31
3       16
2       12
Name: count, dtype: int64

In [ ]:
u99[5].drop('purchased', axis=1, inplace=True)

In [ ]:
u99[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U99P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [ ]:
u99[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83775 entries, 0 to 83774
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    83775 non-null  int64
 1   code       83775 non-null  int64
 2   mortgage   3328 non-null   float64
 3   purchased  70145 non-null  object
 4   value      83775 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 3.2+ MB

In [ ]:
u99[6].describe(include='all')

             Address          code      mortgage purchased         value
count   8.377500e+04  83775.000000  3.328000e+03     70145  8.377500e+04
unique           NaN           NaN           NaN         8           NaN
top              NaN           NaN           NaN         1           NaN
freq             NaN           NaN           NaN     68256           NaN
mean    1.155521e+10  44006.996025  2.525624e+08       NaN  2.887546e+06
std     9.076738e+08   1312.923114  3.535505e+08       NaN  7.694625e+06
min     1.000100e+10  41111.000000  4.000000e+05       NaN  7.000000e+03
25%     1.072910e+10  42214.000000  5.000000e+07       NaN  2.000000e+05
50%     1.160119e+10  44311.000000  1.500000e+08       NaN  3.800000e+05
75%     1.230128e+10  45111.000000  3.000000e+08       NaN  2.000000e+06
max     1.300638e+10  45414.000000  7.000000e+09       NaN  8.000000e+08

In [ ]:
u99[6].purchased.value_counts()

purchased
1    68256
8     1560
3      154
5      106
2       30
        21
7       16
4        2
Name: count, dtype: int64

In [ ]:
u99[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [ ]:
u99[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U99P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [ ]:
u99[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99683 entries, 0 to 99682
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    99683 non-null  int64
 1   code       99683 non-null  int64
 2   purchased  99683 non-null  int64
 3   value      99683 non-null  int64
dtypes: int64(4)
memory usage: 3.0 MB

In [ ]:
u99[7].describe()

            Address          code     purchased         value
count  9.968300e+04  99683.000000  99683.000000  9.968300e+04
mean   1.152233e+10  56008.689757      1.059248  2.265699e+05
std    9.233922e+08    504.134650      0.592467  6.832578e+05
min    1.000100e+10  52111.000000      1.000000  5.000000e+03
25%    1.071009e+10  56114.000000      1.000000  9.000000e+04
50%    1.150619e+10  56116.000000      1.000000  1.500000e+05
75%    1.230629e+10  56127.000000      1.000000  2.400000e+05
max    1.300638e+10  56215.000000      8.000000  4.800000e+07

In [ ]:
u99[7].purchased.value_counts()

purchased
1    98685
7      895
8       48
5       46
3        5
2        3
4        1
Name: count, dtype: int64

In [ ]:
98685/99683

0.989988262793054

In [ ]:
u99[7].drop('purchased', axis=1, inplace=True)

In [ ]:
u99[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/U99P3S05.csv', index=False)