<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/clean_data_U98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd

In [16]:
u98 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/U98.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [17]:
u98[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632359 entries, 0 to 632358
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    632359 non-null  int64
 1   code       632359 non-null  int64
 2   purchased  632359 non-null  int64
 3   gram       157410 non-null  object
 4   kilogram   477913 non-null  float64
 5   price      575817 non-null  float64
 6   value      632359 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 33.8+ MB

In [18]:
u98[3].purchased.value_counts()

purchased
1    622791
7      5888
2      2117
8       614
5       552
6       337
3        58
4         2
Name: count, dtype: int64

In [19]:
622791/632359

0.9848693542750242

In [20]:
u98[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [21]:
u98[3].to_csv('U98P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [22]:
u98[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3746 entries, 0 to 3745
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3746 non-null   int64
 1   code       3746 non-null   int64
 2   purchased  3746 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   3140 non-null   object
 5   price      3139 non-null   float64
 6   value      3746 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 205.0+ KB

In [23]:
u98[4].purchased.value_counts()

purchased
1    3724
7      19
6       2
3       1
Name: count, dtype: int64

In [24]:
u98[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [25]:
u98[4].to_csv('U98P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [26]:
u98[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25993 entries, 0 to 25992
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    25993 non-null  int64
 1   code       25993 non-null  int64
 2   purchased  25993 non-null  int64
 3   value      25993 non-null  int64
dtypes: int64(4)
memory usage: 812.4 KB

In [27]:
u98[5].describe()

            Address          code     purchased         value
count  2.599300e+04  25993.000000  25993.000000  2.599300e+04
mean   1.151693e+10  31417.115454      1.017620  9.760647e+05
std    9.173310e+08    348.609029      0.316637  1.391492e+06
min    1.000100e+10  31111.000000      1.000000  9.000000e+03
25%    1.071609e+10  31222.000000      1.000000  3.000000e+05
50%    1.150319e+10  31251.000000      1.000000  6.500000e+05
75%    1.230128e+10  31318.000000      1.000000  1.200000e+06
max    1.300638e+10  32221.000000      8.000000  5.000000e+07

In [28]:
u98[5].purchased.value_counts()

purchased
1    25881
7       45
2       44
8       18
5        4
3        1
Name: count, dtype: int64

In [29]:
u98[5].drop('purchased', axis=1, inplace=True)

In [39]:
u98[5].to_csv('U98P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [30]:
u98[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86250 entries, 0 to 86249
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    86250 non-null  int64
 1   code       86250 non-null  int64
 2   mortgage   3490 non-null   object
 3   purchased  72343 non-null  object
 4   value      86250 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.3+ MB

In [31]:
u98[6].describe(include='all')

             Address          code    mortgage purchased         value
count   8.625000e+04  86250.000000        3490     72343  8.625000e+04
unique           NaN           NaN         111         8           NaN
top              NaN           NaN  0100000000         1           NaN
freq             NaN           NaN         437     70392           NaN
mean    1.152903e+10  44009.543339         NaN       NaN  2.128748e+06
std     9.050831e+08   1312.960933         NaN       NaN  5.319005e+06
min     1.000100e+10  41111.000000         NaN       NaN  1.000000e+04
25%     1.071109e+10  42214.000000         NaN       NaN  1.670000e+05
50%     1.150319e+10  44311.000000         NaN       NaN  3.190000e+05
75%     1.230128e+10  45111.000000         NaN       NaN  1.500000e+06
max     1.300638e+10  45413.000000         NaN       NaN  2.000000e+08

In [32]:
u98[6].purchased.value_counts()

purchased
1    70392
8     1596
3      179
5       97
        54
2       17
7        7
4        1
Name: count, dtype: int64

In [33]:
u98[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [40]:
u98[6].to_csv('U98P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [34]:
u98[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96007 entries, 0 to 96006
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    96007 non-null  int64
 1   code       96007 non-null  int64
 2   purchased  96007 non-null  int64
 3   value      96007 non-null  int64
dtypes: int64(4)
memory usage: 2.9 MB

In [35]:
u98[7].describe()

            Address          code     purchased         value
count  9.600700e+04  96007.000000  96007.000000  9.600700e+04
mean   1.153447e+10  56003.609310      1.076911  1.578622e+05
std    9.193529e+08    515.841692      0.675874  4.925446e+05
min    1.000100e+10  52111.000000      1.000000  2.000000e+03
25%    1.070809e+10  56114.000000      1.000000  5.975000e+04
50%    1.150819e+10  56116.000000      1.000000  1.000000e+05
75%    1.231329e+10  56121.000000      1.000000  1.600000e+05
max    1.300638e+10  56215.000000      8.000000  4.100000e+07

In [36]:
u98[7].purchased.value_counts()

purchased
1    94770
7     1152
8       53
5       19
3       10
2        2
4        1
Name: count, dtype: int64

In [37]:
94770/96007

0.9871155228264605

In [38]:
u98[7].drop('purchased', axis=1, inplace=True)

In [41]:
u98[7].to_csv('U98P3S05.csv', index=False)