<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/clean_data_R1400_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [3]:
r1400 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/R1400.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [4]:
r1400[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509426 entries, 0 to 509425
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    509426 non-null  int64
 1   code       509426 non-null  int64
 2   purchased  509426 non-null  int64
 3   gram       128988 non-null  object
 4   kilogram   387156 non-null  float64
 5   price      462206 non-null  float64
 6   value      509426 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 27.2+ MB

In [5]:
r1400[3].purchased.value_counts()

purchased
1    491460
2      9097
7      3766
6      2371
8      2252
5       457
3        17
4         6
Name: count, dtype: int64

In [6]:
491460/509426

0.9647328561950116

In [7]:
r1400[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [8]:
r1400[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1400P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [9]:
r1400[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3621 entries, 0 to 3620
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3621 non-null   int64
 1   code       3621 non-null   int64
 2   purchased  3621 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   2851 non-null   float64
 5   price      2851 non-null   float64
 6   value      3621 non-null   int64
dtypes: float64(3), int64(4)
memory usage: 198.1 KB

In [10]:
r1400[4].purchased.value_counts()

purchased
1    3595
7      21
8       4
5       1
Name: count, dtype: int64

In [11]:
r1400[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [12]:
r1400[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1400P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [13]:
r1400[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26019 entries, 0 to 26018
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    26019 non-null  int64
 1   code       26019 non-null  int64
 2   purchased  26019 non-null  int64
 3   value      26019 non-null  int64
dtypes: int64(4)
memory usage: 813.2 KB

In [14]:
r1400[5].describe()

            Address          code     purchased         value
count  2.601900e+04  26019.000000  26019.000000  2.601900e+04
mean   2.135604e+10  31409.616895      1.022829  1.651377e+06
std    8.688524e+08    330.811707      0.371585  2.151912e+06
min    2.000138e+10  31111.000000      1.000000  2.000000e+04
25%    2.070446e+10  31233.000000      1.000000  3.500000e+05
50%    2.130354e+10  31256.000000      1.000000  1.000000e+06
75%    2.200460e+10  31317.000000      1.000000  2.100000e+06
max    2.300671e+10  32221.000000      8.000000  5.000000e+07

In [15]:
r1400[5].purchased.value_counts()

purchased
1    25909
8       39
7       38
5       19
2       11
3        3
Name: count, dtype: int64

In [16]:
r1400[5].drop('purchased', axis=1, inplace=True)

In [17]:
r1400[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1400P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [18]:
r1400[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69396 entries, 0 to 69395
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    69396 non-null  int64
 1   code       69396 non-null  int64
 2   mortgage   654 non-null    float64
 3   purchased  53367 non-null  object
 4   value      69396 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.6+ MB

In [19]:
r1400[6].describe(include='all')

             Address          code      mortgage purchased         value
count   6.939600e+04  69396.000000  6.540000e+02     53367  6.939600e+04
unique           NaN           NaN           NaN         8           NaN
top              NaN           NaN           NaN         1           NaN
freq             NaN           NaN           NaN     51407           NaN
mean    2.145714e+10  44074.710862  2.279931e+08       NaN  1.962088e+06
std     9.279518e+08   1300.726711  2.729645e+08       NaN  3.906604e+06
min     2.000138e+10  41111.000000  2.500000e+06       NaN  2.000000e+03
25%     2.062746e+10  42212.000000  5.000000e+07       NaN  2.450000e+05
50%     2.140455e+10  44411.000000  1.250000e+08       NaN  4.300000e+05
75%     2.230163e+10  45211.000000  3.000000e+08       NaN  2.000000e+06
max     2.300671e+10  45414.000000  2.000000e+09       NaN  1.000000e+08

In [20]:
r1400[6].purchased.value_counts()

purchased
1    51407
8     1382
2      305
5      192
3       57
        13
7        6
6        5
Name: count, dtype: int64

In [21]:
r1400[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [22]:
r1400[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1400P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [23]:
r1400[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87768 entries, 0 to 87767
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    87768 non-null  int64
 1   code       87768 non-null  int64
 2   purchased  87768 non-null  int64
 3   value      87768 non-null  int64
dtypes: int64(4)
memory usage: 2.7 MB

In [24]:
r1400[7].describe()

            Address          code     purchased         value
count  8.776800e+04  87768.000000  87768.000000  8.776800e+04
mean   2.142990e+10  56003.938896      1.062540  3.058808e+05
std    9.199735e+08    502.260475      0.607995  1.017608e+06
min    2.000138e+10  52111.000000      1.000000  5.000000e+03
25%    2.062446e+10  56114.000000      1.000000  1.200000e+05
50%    2.140355e+10  56116.000000      1.000000  2.000000e+05
75%    2.220963e+10  56119.000000      1.000000  3.000000e+05
max    2.300671e+10  56215.000000      8.000000  1.000000e+08

In [25]:
r1400[7].purchased.value_counts()

purchased
1    86835
7      849
8       34
5       31
3       14
2        5
Name: count, dtype: int64

In [26]:
86835/87768

0.9893697019414821

In [27]:
r1400[7].drop('purchased', axis=1, inplace=True)

In [28]:
r1400[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1400P3S05.csv', index=False)