<a href="https://colab.research.google.com/github/realBagher/Iran_family_income_analysis-_g6/blob/main/clean_data_R1401_P3S01untilP3S05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
!git clone https://github.com/realBagher/Machine-Learning-Specialization-

Cloning into 'Machine-Learning-Specialization-'...
remote: Enumerating objects: 418, done.
remote: Counting objects: 100% (418/418), done.
remote: Compressing objects: 100% (332/332), done.
remote: Total 418 (delta 92), reused 394 (delta 71), pack-reused 0
Receiving objects: 100% (418/418), 10.93 MiB | 14.03 MiB/s, done.
Resolving deltas: 100% (92/92), done.

In [4]:
r1401 = pd.read_excel('/content/drive/MyDrive/Quera/Data set/data.zip (Unzipped Files)/R1401.xlsx',
                    sheet_name=[3, 4, 5, 6, 7])

### sheet: U98P3S01 -> قسمت سوم: بخش ۱ هزینه‌های خوراکی و دخانی

In [5]:
r1401[3].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489676 entries, 0 to 489675
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Address    489676 non-null  int64
 1   code       489676 non-null  int64
 2   purchased  489676 non-null  int64
 3   gram       128969 non-null  float64
 4   kilogram   371396 non-null  float64
 5   price      489676 non-null  int64
 6   value      489676 non-null  int64
dtypes: float64(2), int64(5)
memory usage: 26.2 MB

In [6]:
r1401[3].purchased.value_counts()

purchased
1    472747
2      8547
7      3866
6      2200
8      1784
5       510
3        13
4         9
Name: count, dtype: int64

In [7]:
472747/489676

0.9654281606613353

In [8]:
r1401[3].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [9]:
r1401[3].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1401P3S01.csv', index=False)

### sheet: U98P3S02 -> قسمت سوم: بخش ۲ هزینه‌های نوشیدنی‌های طبقه‌بندی نشده

In [10]:
r1401[4].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    3652 non-null   int64
 1   code       3652 non-null   int64
 2   purchased  3652 non-null   int64
 3   gram       0 non-null      float64
 4   kilogram   2869 non-null   float64
 5   price      3652 non-null   int64
 6   value      3652 non-null   int64
dtypes: float64(2), int64(5)
memory usage: 199.8 KB

In [11]:
r1401[4].purchased.value_counts()

purchased
1    3626
7      25
6       1
Name: count, dtype: int64

In [12]:
r1401[4].drop(['purchased', 'gram', 'kilogram', 'price'], axis=1, inplace=True)

In [13]:
r1401[4].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1401P3S02.csv', index=False)

### sheet: U98P3S03 -> قسمت سوم: بخش‌ ۳ شامل هزینه‌های غیر خوراکی

In [14]:
r1401[5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22422 entries, 0 to 22421
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    22422 non-null  int64
 1   code       22422 non-null  int64
 2   purchased  22422 non-null  int64
 3   value      22422 non-null  int64
dtypes: int64(4)
memory usage: 700.8 KB

In [15]:
r1401[5].describe()

            Address          code     purchased         value
count  2.242200e+04  22422.000000  22422.000000  2.242200e+04
mean   2.136048e+10  31419.616760      1.016457  2.892585e+06
std    8.872556e+08    351.539088      0.310594  3.599254e+06
min    2.000138e+10  31111.000000      1.000000  2.000000e+04
25%    2.062746e+10  31222.000000      1.000000  8.000000e+05
50%    2.130254e+10  31251.000000      1.000000  2.000000e+06
75%    2.210261e+10  31317.000000      1.000000  3.800000e+06
max    2.300671e+10  32221.000000      8.000000  1.000000e+08

In [16]:
r1401[5].purchased.value_counts()

purchased
1    22349
7       49
2       13
8        7
3        2
6        1
5        1
Name: count, dtype: int64

In [17]:
r1401[5].drop('purchased', axis=1, inplace=True)

In [18]:
r1401[5].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1401P3S03.csv', index=False)

### sheet: U98P3S04 -> قسمت سوم: بخش ۴ هزینه‌های بخش مسکن

In [19]:
r1401[6].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69889 entries, 0 to 69888
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    69889 non-null  int64
 1   code       69889 non-null  int64
 2   mortgage   69889 non-null  object
 3   purchased  69889 non-null  object
 4   value      69889 non-null  int64
dtypes: int64(3), object(2)
memory usage: 2.7+ MB

In [20]:
r1401[6].describe(include='all')

             Address          code     mortgage purchased         value
count   6.988900e+04  69889.000000        69889     69889  6.988900e+04
unique           NaN           NaN           55         8           NaN
top              NaN           NaN                      1           NaN
freq             NaN           NaN        69263     51730           NaN
mean    2.145489e+10  44078.165505          NaN       NaN  3.019352e+06
std     9.183429e+08   1295.854040          NaN       NaN  6.399271e+06
min     2.000138e+10  41111.000000          NaN       NaN  1.200000e+04
25%     2.070346e+10  42212.000000          NaN       NaN  3.000000e+05
50%     2.140455e+10  44311.000000          NaN       NaN  5.000000e+05
75%     2.221263e+10  45211.000000          NaN       NaN  3.000000e+06
max     2.300671e+10  45414.000000          NaN       NaN  1.420000e+08

In [21]:
r1401[6].purchased.value_counts()

purchased
1    51730
     16313
8     1349
2      249
5      181
3       51
6       10
7        6
Name: count, dtype: int64

In [22]:
r1401[6].drop(['mortgage', 'purchased'], axis=1, inplace=True)

In [23]:
r1401[6].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1401P3S04.csv', index=False)

### sheet: U98P3S05 -> قسمت سوم: بخش‌ ۵ شامل هزینه‌های غیر خوراکی

In [24]:
r1401[7].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80751 entries, 0 to 80750
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    80751 non-null  int64
 1   code       80751 non-null  int64
 2   purchased  80751 non-null  int64
 3   value      80751 non-null  int64
dtypes: int64(4)
memory usage: 2.5 MB

In [25]:
r1401[7].describe()

            Address          code     purchased         value
count  8.075100e+04  80751.000000  80751.000000  8.075100e+04
mean   2.147280e+10  56005.419202      1.069547  4.608354e+05
std    9.226169e+08    510.740899      0.642513  1.598031e+06
min    2.000138e+10  52111.000000      1.000000  1.000000e+04
25%    2.070547e+10  56114.000000      1.000000  1.700000e+05
50%    2.140655e+10  56116.000000      1.000000  3.000000e+05
75%    2.230363e+10  56119.000000      1.000000  4.500000e+05
max    2.300671e+10  56215.000000      8.000000  2.000000e+08

In [26]:
r1401[7].purchased.value_counts()

purchased
1    79810
7      887
8       30
5       20
2        4
Name: count, dtype: int64

In [27]:
79810/80751

0.9883468935369222

In [28]:
r1401[7].drop('purchased', axis=1, inplace=True)

In [29]:
r1401[7].to_csv('/content/drive/MyDrive/Quera/Projects/Project 1/R1401P3S05.csv', index=False)