In [6]:
import pandas as pd
import numpy as np

In [7]:
dirs = ['R1398','R1399','R1400','R1401','U1398','U1399','U1400','U1401']
for dir in dirs :
    df =pd.read_csv(f'{dir}/{dir}P3S14.csv')
    df['value']=df['value'].apply(lambda x : str(x).lstrip('0'))
    df.loc[(df.value.isna())|(df.value=='nan') | (df.value==''),'value']=np.nan
    df.replace(r'^\s*$| ', np.nan, regex=True,inplace=True)
    print(df.loc[df.value.isna(),'Address'].count())
    df['value'] = pd.to_numeric(df['value'])
    df['value'] = df['value'].fillna(df.groupby('code')['value'].transform('median'))
    print('addresses still have nan value: ',df[df.value.isna()].code.count())
    print(df[df.isna().any(axis=1)])
    df = df[df['value'].notna()]
    print('nan value after cleaning: ',df[df.value.isna()].Address.count())
    df.to_csv(f'{dir}/{dir}P3S14.csv',index=False)
    print("----------------------------------")

137
addresses still have nan value:  0
          Address   code purchased        value
0     20011395423  34160       NaN  200000000.0
13    20006389411  33134       NaN  800000000.0
14    20006389411  33145       NaN  250000000.0
75    20206409123  33145       NaN  250000000.0
128   20311421513  34148       NaN  100000000.0
...           ...    ...       ...          ...
4307  22601656317  34161       NaN    1600000.0
4313  22606663511  34148       NaN  100000000.0
4319  22709672214  34148       NaN  100000000.0
4352  22801677914  34160       NaN  200000000.0
4353  22803680311  34192       NaN  180000000.0

[140 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
219
addresses still have nan value:  0
          Address   code purchased        value
19    20006390226  34148       NaN  120000000.0
21    20011395414  34160       NaN  300000000.0
27    20005389029  34160       NaN  300000000.0
32    20011395016  33145       NaN  600000000.0
39    20010393423  33145       NaN  600000000.0
...           ...    ...       ...          ...
4109  22709672214  34148       NaN  120000000.0
4114  22707670220  34148       NaN  120000000.0
4118  22706669017  34148       NaN  120000000.0
4130  22807686313  34160       NaN  300000000.0
4131  22804681517  33145       NaN  600000000.0

[227 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
242
addresses still have nan value:  0
          Address   code purchased         value
25    20013397029  33145       NaN  1.050000e+09
40    20006389830  34159       NaN  7.750000e+07
41    20011395023  33145       NaN  1.050000e+09
44    20010393423  33214       NaN  3.500000e+07
59    20214411523  34148       NaN  1.550000e+08
...           ...    ...       ...           ...
3828  21708582120  34272       NaN  1.500000e+07
3834  21801582329  34160       NaN  3.500000e+08
3841  21809590430  34161       NaN  2.500000e+06
3883  22103610826  34148       NaN  1.550000e+08
3901  22204622632  34148       NaN  1.550000e+08

[242 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
176
addresses still have nan value:  0
Empty DataFrame
Columns: [Address, code, purchased, value]
Index: []
nan value after cleaning:  0
----------------------------------
77
addresses still have nan value:  3
          Address   code purchased         value
11    10013010614  34160       NaN  6.500000e+08
22    10006006812  33145       NaN  1.500000e+09
25    10006006813  33349       NaN  2.250000e+08
48    10104014809  33134       NaN  1.400000e+09
49    10104014809  33145       NaN  1.500000e+09
...           ...    ...       ...           ...
2922  12804353509  33145       NaN  1.500000e+09
2924  12808357123  34160       NaN  6.500000e+08
2930  12807356320  33134       NaN  1.400000e+09
2931  12807356320  33145       NaN  1.500000e+09
2947  12906363620  33134       NaN  1.400000e+09

[81 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
111
addresses still have nan value:  2
          Address   code purchased         value
7     10005005129  33134       NaN  2.400000e+09
16    10012010114  34160       NaN  1.001250e+09
22    10110021620  33349       NaN  2.500000e+09
320   11002120417  33145       NaN  1.800000e+09
327   11210157914  33134       NaN  2.400000e+09
...           ...    ...       ...           ...
2571  11903223317  33349       NaN  2.500000e+09
2585  12103242229  33349       NaN  2.500000e+09
2634  12210263226  33145       NaN  1.800000e+09
2693  12501305826  34272       NaN  1.500000e+07
2777  13002381221  33134       NaN  2.400000e+09

[111 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
121
addresses still have nan value:  1
          Address   code purchased         value
67    10303037524  33134       NaN  5.000000e+09
73    10302036026  34272       NaN  1.000000e+07
79    10514069923  34272       NaN  1.000000e+07
81    10501058532  34272       NaN  1.000000e+07
83    10510067435  34272       NaN  1.000000e+07
...           ...    ...       ...           ...
2442  12210263632  33134       NaN  5.000000e+09
2479  12705331935  33134       NaN  5.000000e+09
2484  12713343532  33349       NaN  1.785000e+09
2513  12901358422  33134       NaN  5.000000e+09
2517  12907364835  33349       NaN  1.785000e+09

[121 rows x 4 columns]
nan value after cleaning:  0
----------------------------------
50
addresses still have nan value:  0
Empty DataFrame
Columns: [Address, code, purchased, value]
Index: []
nan value after cleaning:  0
----------------------------------