**for creating cost and income dfs**

In [83]:
import os
import pandas as pd
dirs = ['R1398','R1399','R1400','R1401','U1398','U1399','U1400','U1401']
# dirs = ['R1398']

for dir in dirs:
    df_lst = []

    for file in os.listdir(f'{dir}'):
        if file.endswith('.csv') and 'p3' in file.lower():
            df=pd.read_csv(f'{dir}/{file}')
            # print(file)
            df=df[['Address','value']]
            sum+=len(df.index)
            df_lst.append(df)
    result = pd.concat(df_lst, ignore_index=True)
    result=result.groupby('Address').agg(total_cost=('value', 'sum')).reset_index()
    # os.mkdir(f'{dir}/cost')
    result.to_csv(f'{dir}/{dir}_cost.csv')

# --------------------------------------------------------------------------------------------------------

for dir in dirs:
    df_lst = []

    for file in os.listdir(f'{dir}'):
        if file.endswith('.csv') and 'p4' in file.lower():
            df=pd.read_csv(f'{dir}/{file}')
            # print(file)
            if 'net_income_w_y' in df.columns:
                df=df[['Address','net_income_w_y']].rename({'net_income_w_y':'value'},axis=1)
            elif 'income_s_y' in df.columns:
                df=df[['Address','income_s_y']].rename({'income_s_y':'value'},axis=1)
            elif 'Total_income' in df.columns:
                df=df[['Address','Total_income']].rename({'Total_income':'value'},axis=1)
            elif 'subsidy' in df.columns:
                df=df[['Address','subsidy']].rename({'subsidy':'value'},axis=1)

            df_lst.append(df)
    result = pd.concat(df_lst, ignore_index=True)
    result=result.groupby('Address').agg(total_income=('value', 'sum')).reset_index()
    # os.mkdir(f'{dir}/income')
    result.to_csv(f'{dir}/{dir}_income.csv',index=False)

C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)
C:\Users\theki\AppData\Local\Temp\ipykernel_15732\12914023.py:16: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat(df_lst, ignore_index=True)

**add 5 dfs for creating clustering total df**

In [91]:
import os
import pandas as pd
dirs = ['R1398','R1399','R1400','R1401','U1398','U1399','U1400','U1401']
# dirs = ['R1398']

for dir in dirs:
    p1=pd.read_csv(f'{dir}/clus_data/{dir}P1.csv')
    print(len(p1.index))
    data=pd.read_csv(f'{dir}/clus_data/{dir}Data.csv')
    print(len(data.index))
    p2=pd.read_csv(f'{dir}/clus_data/{dir}P2.csv')
    print(len(p2.index))
    cost=pd.read_csv(f'{dir}/clus_data/{dir}_cost.csv').drop('Unnamed: 0',axis=1)
    print(len(cost.index))
    income=pd.read_csv(f'{dir}/clus_data/{dir}_income.csv')
    print(len(income.index))
    df=pd.merge(p1, data)
    df=pd.merge(df, p2)
    df=pd.merge(df, cost)
    df=pd.merge(df, income,how='left')
    print("***************")
    # print(len(df.index))
    df=df.fillna(0)
    print("**************")
    print(df[df.isnull().any(axis=1)])
    df.to_csv(f'{dir}/clus_data/{dir}_total.csv',index=False)

18430
18430
18430
18430
18429
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
18251
18251
18251
18251
18250
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
18370
18370
18370
18370
18366
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
18384
18384
18384
18384
18380
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
19898
19898
19898
19898
19893
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
19306
19306
19306
19306
19302
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
19618
19618
19618
19618
19612
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]
19567
19567
19567
19567
19557
***************
**************
Empty DataFrame
Columns: [Address, member, Male_count, Female_count, age, literacy, studying, degree, occupationalst, maritalst, province, town, tenure, room, space, construction, material, vehicle, motorcycle, cookingfuel, heatingfuel, waterheatingfuel, facilities, total_cost, total_income]
Index: []

[0 rows x 25 columns]